body {
  background-color: #ecece4
}

.container {
  margin: 10px;
}

.userContainer {
  margin-right: 10px;
  margin-top: 30px;
}

#userSelect {
  margin-right: 10px !important;
}

thead {
  color: #6c0000;
}

h3 {
  color: #6c0000;
  font-family: sans-serif;
}
